.w-full { width: 100%; }
.flex-1 { flex: 1; }

.modal-row {
  display: flex;
  gap: 16px;

  mat-form-field { flex: 1; }
}

mat-dialog-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
  min-width: 480px;
  padding-top: 8px !important;
}
